<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.GatherMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.Gather" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="owner_usr" property="ownerUsr" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_type" property="cType" jdbcType="VARCHAR" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="bill_code" property="billCode" jdbcType="VARCHAR" />
    <result column="handler" property="handler" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="statusid" property="statusid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.Gather" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="audit_idea" property="auditIdea" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, owner_usr, creater, createTime, updater, updateTime, c_id, c_name, c_type, payer, 
    pay_date, pay_type, bill_code, handler, total, statusid, status, auditor, audit_date, 
    code
  </sql>
  <sql id="Blob_Column_List" >
    remark, audit_idea
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_gather
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_gather
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.Gather" >
    insert into b_gather (id, owner_usr, creater, 
      createTime, updater, updateTime, 
      c_id, c_name, c_type, 
      payer, pay_date, pay_type, 
      bill_code, handler, total, 
      statusid, status, auditor, 
      audit_date, code, remark, 
      audit_idea)
    values (#{id,jdbcType=INTEGER}, #{ownerUsr,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cType,jdbcType=VARCHAR}, 
      #{payer,jdbcType=VARCHAR}, #{payDate,jdbcType=TIMESTAMP}, #{payType,jdbcType=VARCHAR}, 
      #{billCode,jdbcType=VARCHAR}, #{handler,jdbcType=VARCHAR}, #{total,jdbcType=DOUBLE}, 
      #{statusid,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, 
      #{auditDate,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}, 
      #{auditIdea,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.Gather" >
    insert into b_gather
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ownerUsr != null" >
        owner_usr,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cType != null" >
        c_type,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="billCode != null" >
        bill_code,
      </if>
      <if test="handler != null" >
        handler,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="statusid != null" >
        statusid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="auditIdea != null" >
        audit_idea,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ownerUsr != null" >
        #{ownerUsr,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        #{cType,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null" >
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="handler != null" >
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="statusid != null" >
        #{statusid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="auditIdea != null" >
        #{auditIdea,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.Gather" >
    update b_gather
    <set >
      <if test="ownerUsr != null" >
        owner_usr = #{ownerUsr,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        c_type = #{cType,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="billCode != null" >
        bill_code = #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="handler != null" >
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="statusid != null" >
        statusid = #{statusid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="auditIdea != null" >
        audit_idea = #{auditIdea,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.Gather" >
    update b_gather
    set owner_usr = #{ownerUsr,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      c_id = #{cId,jdbcType=INTEGER},
      c_name = #{cName,jdbcType=VARCHAR},
      c_type = #{cType,jdbcType=VARCHAR},
      payer = #{payer,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=VARCHAR},
      bill_code = #{billCode,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      total = #{total,jdbcType=DOUBLE},
      statusid = #{statusid,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR},
      audit_idea = #{auditIdea,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.Gather" >
    update b_gather
    set owner_usr = #{ownerUsr,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      c_id = #{cId,jdbcType=INTEGER},
      c_name = #{cName,jdbcType=VARCHAR},
      c_type = #{cType,jdbcType=VARCHAR},
      payer = #{payer,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=VARCHAR},
      bill_code = #{billCode,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      total = #{total,jdbcType=DOUBLE},
      statusid = #{statusid,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getGatherList" resultType="com.crm.model.Gather">
    SELECT id,bill_code billCode,pay_date payDate,c_name cName,
    total,handler,status
    FROM b_gather
    <!--<include refid="SQL"></include>-->
    limit #{from},#{pageSize}
  </select>


  <select id="countGather" resultType="int">
    SELECT count(id)
    FROM b_gather
    <!--<include refid="SQL"></include>-->
  </select>

  <select id="findAllGather" resultType="com.crm.model.Gather">
    SELECT id,bill_code billCode FROM b_gather
  </select>

  <select id="findGatherByIds" resultType="com.crm.model.Gather">
    SELECT id,bill_code billCode FROM b_gather
    WHERE id IN
    <foreach collection="ids" open="(" separator="," close=")" item="ids">#{ids}</foreach>
  </select>

  <delete id="delGatherListByIds">
    DELETE FROM b_gather
    WHERE id = #{id}
  </delete>


</mapper>